<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeybadger"
    android:versionCode="18"
    android:versionName="3.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >

        <!-- honeybadger package -->

        <receiver android:name=".BootInit" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".HoneyBadgerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".HBTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.honeybadger.SplashScreen"
            android:noHistory="true" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.honeybadger.HoneyBadgerNotify" />

        <receiver
            android:name="AlarmReceiver"
            android:process=":remote" >
        </receiver>

        <!-- api package -->

        <service
            android:name=".api.scripts.Scripts"
            android:process=":scriptProc" >
        </service>
        <service
            android:name=".api.scripts.LogScript"
            android:process=":logProc" >
        </service>
        <service
            android:name=".api.scripts.Fetcher"
            android:process=":fetchProc" >
        </service>
        <service android:name="com.honeybadger.api.Blocker" />
        <service android:name="com.honeybadger.api.AppBlocker" />
        <service android:name="com.honeybadger.api.scripts.RequirementsScript" />
        <service android:name="com.honeybadger.api.scripts.ReturnOutput" />

        <!-- views package -->

        <activity android:name="com.honeybadger.views.ViewRulesFragmentctivity" />
        <activity android:name=".views.ViewLogFragment" />
        <activity android:name=".views.AddRulesFragment" />
        <activity
            android:name=".views.EditPreferencesActivity"
            android:noHistory="true" />
        <activity
            android:name=".views.ViewRawRulesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:noHistory="true" />
        <activity android:name=".views.ShowAppsFragment" />
    </application>

</manifest>