<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeybadger"
    android:versionCode="13"
    android:versionName="3.1" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- honeybadger package -->

        <receiver android:name=".BootInit" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".HoneyBadgerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HBTabActivity" />
        <activity android:name="com.honeybadger.SplashScreen" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver
            android:name="AlarmReceiver"
            android:process=":remote" >
        </receiver>

        <!-- api package -->

        <service
            android:name="com.honeybadger.api.Scripts"
            android:process=":scriptProc" >
            <intent-filter>
                <action android:name="com.honeybadger.api.Scripts" />
            </intent-filter>
        </service>
        <service
            android:name="com.honeybadger.api.LogScript"
            android:process=":logProc" >
            <intent-filter>
                <action android:name="com.honeybadger.LogScript" />
            </intent-filter>
        </service>
        <service
            android:name="com.honeybadger.api.Fetcher"
            android:process=":fetchProc" >
            <intent-filter>
                <action android:name="com.honeybadger.api.Fetcher" />
            </intent-filter>
        </service>
        <service android:name="com.honeybadger.api.Blocker" />
        <service android:name="com.honeybadger.api.AppBlocker" />

        <!-- views package -->

        <activity android:name="com.honeybadger.views.ViewRulesActivity" />
        <activity android:name=".views.ViewLogActivity" />
        <activity android:name=".views.EditRulesActivity" />
        <activity android:name=".views.EditPreferencesActivity" />
        <activity android:name=".views.ShowAppsActivity" />
    </application>

</manifest>